@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2');
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLightItalic.woff2') format('woff2');
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-ExtraLight.woff2') format('woff2');
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-ExtraLightItalic.woff2') format('woff2');
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost/Jost-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
